.hero_sobre {
    width: 100%;

    .hero_image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: #000;
        position: relative;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;

        }

        &::after {
            content: "";
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }


    .inicio {
        width: 100%;
        background-color: #461A7E;
        position: relative;
        border-radius: 0 0 50% 50%;
        transform: scaleX(1);

        .detail_banner {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 99.35vw;
                position: absolute;
                bottom: 100%;
            }
        }

        .inicio_content {
            display: flex;
            color: #FFF;
            padding-bottom: 19em;
            margin-bottom: 5em;

            .text_content {
                padding: 10em;

                h2 {
                    font-family: 'SFRepublic', sans-serif;
                }

                .btn_app {
                    transition: .3s;

                    &:hover {
                        background-color: #23004F;
                    }
                }

                button {
                    margin-top: 5em;
                    background: radial-gradient(circle, rgba(255, 135, 243, .3) 0%, rgba(82, 25, 153, 1) 100%);

                    &::before {
                        content: '';
                        width: 200%;
                        height: 1px;
                        background-color: #FFF;
                        position: absolute;
                        right: 100%;
                        top: -1px;
                    }
                }
            }

            .link_sobre {
                position: absolute;
                background-color: #FFF;
                padding: 2em;
                border-radius: 10px;
                padding-left: 3em;
                width: 225px;
                top: -20%;

                a {
                    text-decoration: none;
                    margin-bottom: 2em;
                    color: #000;

                    &:hover {
                        color: #461A7E;
                    }
                }
            }

            .video_container {
                padding-top: 10em;

                .thumb {
                    border: 1px solid rgba($color: #FFF, $alpha: .5);
                    position: relative;
                    display: inline-block;

                    img {
                        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
                        width: 715px;
                        height: 467px;
                    }

                    .play_button {

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 50px;
                        color: white;
                        opacity: 0.7;
                        cursor: pointer;
                    }

                    .youtube {
                        position: absolute;
                        bottom: 3%;
                        left: 2%;
                        border: 1px solid white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: .5em;
                        padding-right: 1em;
                        background: transparent;
                        transition: .3s ease;

                        p {

                            padding: 0;
                            margin: 0 .5em;
                            color: white;
                        }

                        &:hover {
                            background-color: #ccc;

                            p {

                                color: #000;
                            }

                            svg {
                                path {
                                    fill: red;
                                }
                            }

                        }
                    }
                }
            }


            .circles_hero {
                width: 100%;
                display: flex;
                justify-content: center;
                position: absolute;
                top: calc(100% - 150px);
                color: #FFF;
                left: 0;

                .group_circle {
                    display: flex;
                }

                .circle {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    position: relative;
                    font-size: 30px;
                    margin: 1em;

                    h2 {
                        font-family: 'SFRepublic';
                        font-size: 50px;
                    }
                }
            }


            .circle1 {
                background-color: #23004F;
                transform: translateY(-125px);
            }

            .circle2 {
                background-color: #380F6C;
                transform: translateY(-30px);
            }

            .circle3 {
                background-color: #521A99;
                transform: translateY(50px);
            }

            .circle4 {
                background-color: #6822BF;
                transform: translateY(-30px);
            }

            .circle5 {
                background-color: #7C2EDD;
                transform: translateY(-125px);
            }

        }

    }
}

body.dark-mode {
    .hero_sobre {
        .inicio {
            background-color: #2D0D55;

            .detail_banner {
                svg {
                    path {
                        fill: #2D0D55;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .hero_sobre {
        margin-top: 4em;

        .inicio {
            border-radius: 0;

            .detail_banner {
                display: none;
            }

            .inicio_content {
                width: 100%;
                display: block;
                padding: 1em;

                .circles_hero {
                    display: block;
                    position: relative;

                    .group_circle {
                        display: flex;
                        justify-content: space-evenly;
                    }

                    .circle {
                        transform: inherit;
                        width: 100px;
                        height: 100px;

                        h2 {
                            font-size: 27px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .last_circle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .text_content {
                    padding: 0;
                    width: 100%;

                    button {
                        font-size: 20px;

                        &::before {
                            display: none;
                        }
                    }
                }


                .video_container {
                    width: 100%;


                    .thumb {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    iframe {
                        width: 380px;
                        height: 300px;
                    }
                }

                .link_sobre {
                    display: none;
                }
            }
        }

        .hero_text_component {
            display: none;
        }
    }
}