.hero_sobre {
    width: 100%;
    overflow: hidden;

    .link_sobre {
        position: fixed;
        background-color: #FFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px 30px;
        top: 40%;
        left: 2%;
        z-index: 3;
        text-align: start;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

        a {
            width: 110px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 1em;
            cursor: pointer;
            text-decoration: none;
            color: #000;

            &:hover {
                color: #461A7E;
            }
        }
    }

    .hero_image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: #000;
        position: relative;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;

        }

        &::after {
            content: "";
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .text_hero {
        display: flex;
        top: 25%;
        left: 0;
        align-items: center;
        margin-left: 15%;
        position: absolute;
        z-index: 2;

        h2 {
            margin-left: 35%;
            margin-right: 10%;
            color: #FFF;
            font-size: 60px;
            font-family: 'SFRepublic';
            font-weight: bold;
            margin-bottom: 70px;
            white-space: nowrap;
        }

        .cat_area {
            margin-bottom: 70px;
        }
    }

    .inicio {
        width: 100%;
        background-color: #461A7E;
        position: relative;
        border-radius: 0 0 50% 50%;
        transform: scaleX(1.1);

        .detail_banner {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
            position: absolute;
            bottom: calc(100% - 1px);
            width: 100%;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .inicio_content {
            display: flex;
            color: #FFF;
            padding-bottom: 15em;
            margin-bottom: 15em;
            position: relative;

            .text_content {
                padding: 15%;
                width: 100%;
                margin-top: 2em;
                margin-left: 5em;

                h2 {
                    font-family: 'SFRepublic', sans-serif;
                    font-weight: bold;
                    margin-bottom: 1em;
                }

                p {
                    font-weight: 200;
                    line-height: 2em;
                    width: 450px;
                }

                span {
                    font-weight: bold;
                }

                .btn_app {
                    transition: .3s;

                    &:hover {
                        background-color: #23004F;
                    }
                }

                button {
                    margin-top: 5em;
                    background: radial-gradient(circle, rgba(255, 135, 243, .3) 0%, rgba(82, 25, 153, 1) 100%);

                    &::before {
                        content: '';
                        width: 200%;
                        height: 1px;
                        background-color: #FFF;
                        position: absolute;
                        right: 100%;
                        top: -1px;
                    }
                }
            }



            .video_container {
                padding-top: 10em;
                margin-right: 5em;
                width: 100%;
                margin-top: 2em;

                .thumb {
                    border: 1px solid rgba($color: #FFF, $alpha: .5);
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    object-fit: contain;


                    img {
                        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    .play_button {

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 50px;
                        color: white;
                        opacity: 0.7;
                        cursor: pointer;

                        svg {
                            object-fit: cover;
                            width: 100%;
                            height: auto;
                        }
                    }

                    .youtube {
                        position: absolute;
                        bottom: 3%;
                        left: 2%;
                        border: 1px solid white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: .5em;
                        padding-right: 1em;
                        background: transparent;
                        transition: .3s ease;
                        object-fit: contain;

                        p {
                            padding: 0;
                            margin: 0 .5em;
                            color: white;
                        }

                        &:hover {
                            background-color: #ccc;

                            p {

                                color: #000;
                            }

                            svg {
                                path {
                                    fill: red;
                                }
                            }

                        }
                    }
                }
            }


            .circles_hero {
                width: 100%;
                display: flex;
                justify-content: center;
                position: absolute;
                top: calc(100% - 150px);
                color: #FFF;
                left: 0;

                .group_circle {
                    display: flex;
                }

                .circle {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    font-size: 30px;
                    margin: 1em;

                    h2 {
                        font-family: 'SFRepublic';
                        font-size: 70px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }


            .circle1 {
                background-color: #23004F;
                transform: translateY(-125px);
            }

            .circle2 {
                background-color: #380F6C;
                transform: translateY(-30px);
            }

            .circle3 {
                background-color: #521A99;
                transform: translateY(50px);
            }

            .circle4 {
                background-color: #6822BF;
                transform: translateY(-30px);
            }

            .circle5 {
                background-color: #7C2EDD;
                transform: translateY(-125px);
            }

        }

    }
}


body.dark-mode {
    .hero_sobre {
        background-color: #333;
        color: #FFF;

        .inicio {
            background-color: #2D0D55;

            .ini .detail_banner {
                svg {
                    path {
                        fill: #2D0D55;
                    }
                }
            }
        }
    }
}

@media (max-width: 1900px) {
    .hero_sobre {
        .inicio {
            .inicio_content {
                .link_sobre {
                    top: -20%;
                    left: 2%;
                }
            }
        }
    }
}

@media (max-width: 1670px) {
    .hero_sobre {

        .inicio {

            .inicio_content {


                .circles_hero {
                    top: calc(100% - 100px);

                    .circle {
                        width: 150px;
                        height: 150px;
                    }
                }

                .link_sobre {
                    top: -15%;
                    left: 2%;

                    a {
                        p {
                            font-size: 10px;
                        }
                    }
                }

                .circles_hero {
                    .circle {
                        h2 {
                            font-size: 40px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1580px) {
    .hero_sobre {
        .inicio {
            .inicio_content {
                padding-bottom: 10em;

                .text_content {
                    button {
                        margin-top: 2em;
                        font-size: 22px;
                        white-space: nowrap;
                    }
                }

                .circles_hero {
                    .circle {
                        h2 {
                            font-size: 40px;
                        }

                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .hero_sobre {
        .inicio {
            .inicio_content {
                .link_sobre {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1240px) {
    .hero_sobre {
        .link_sobre {
            display: none;
        }

        .inicio {
            .inicio_content {
                .text_content {
                    margin-left: 5em;
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-width: 1120px) {
    .hero_sobre {

        .inicio {

            .inicio_content {

                .circles_hero {
                    .circle {
                        width: 150px;
                        height: 150px;

                        h2 {
                            font-size: 30px;
                        }

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1120px) {
    .hero_sobre {

        .inicio {

            .inicio_content {

                .circles_hero {
                    top: calc(100% - 100px);

                    .circle {
                        width: 100px;
                        height: 100px;
                        margin: 1.4em;

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 10px;
                        }

                    }

                    .circle1 {
                        background-color: #23004F;
                        transform: translateY(-120px);
                    }

                    .circle2 {
                        background-color: #380F6C;
                        transform: translateY(-50px);
                    }

                    .circle3 {
                        background-color: #521A99;
                        transform: translateY(0px);
                    }

                    .circle4 {
                        background-color: #6822BF;
                        transform: translateY(-50px);
                    }

                    .circle5 {
                        background-color: #7C2EDD;
                        transform: translateY(-120px);
                    }
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .hero_sobre {
        .inicio {
            .inicio_content {
                .video_container {

                    button {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .hero_sobre {
        margin-top: 4em;

        .inicio {
            border-radius: 0;

            .detail_banner {
                display: none;
            }

            .inicio_content {
                width: 100%;
                display: block;
                padding: 1em;

                .circles_hero {
                    display: block;
                    position: relative;
                    width: 100%;

                    .group_circle {
                        display: flex;
                        justify-content: space-evenly;
                        height: 170px;
                    }

                    .circle {
                        transform: inherit;
                        width: 150px;
                        height: 150px;

                        h2 {
                            font-size: 27px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .last_circle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .text_content {
                    padding: 0;
                    margin: 0 auto;
                    margin-top: 2em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    button {
                        font-size: 20px;

                        &::before {
                            display: none;
                        }
                    }
                }


                .video_container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-top: 0;
                    margin-top: 2em;

                    .thumb {
                        width: 80%;
                        object-fit: contain;

                        img {}

                        .play_button {

                            svg {
                                object-fit: cover;
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    iframe {
                        width: 380px;
                        height: 300px;
                    }
                }

                .link_sobre {
                    display: none;
                }
            }
        }

        .hero_text_component {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    .hero_sobre {
        .inicio {
            .inicio_content {
                .text_content {
                    width: 50%;


                    h2 {
                        font-size: 20px;

                    }

                    p {
                        font-size: 12px;
                        width: 150%;
                    }

                    button {
                        width: 150%;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}