.adocao {
    background-color: hsl(266, 66%, 30%);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    .list_detail {
        position: absolute;
        bottom: -10px;
        width: 100%;
        left: 0;

    }

    .navbar_adocao {

        display: flex;
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        justify-content: center;

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 2em;
                padding-right: 10em;
                color: #FFF;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .adocao_content {
        display: block;

        .list_cats {
            border-left: 1px solid #FFF;
            display: flex;
            justify-content: space-evenly;
            padding-top: 5em;

            .item_list {
                color: #FFF;
                perspective: 1000px;

                .img_container {
                    position: relative;
                    /* O container precisa ser relative para o ::after funcionar */

                    img {
                        transform: rotateY(0deg);
                        transition: transform 0.5s ease;
                    }

                    &:hover img {
                        transform: rotateY(-30deg);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #FF87F3;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        /* Esconde inicialmente */
                        transition: opacity 0.5s ease;
                    }

                    &:hover::after {
                        opacity: 0.5;
                        /* Torna visível no hover */
                    }
                }

                .content_item {
                    display: flex;
                    padding-top: 1em;

                    .info_cat {
                        padding-left: 2em;

                        p {
                            padding-top: 1em;
                            padding-bottom: 1em;
                            font-size: 12px;
                        }

                        span {
                            svg {
                                margin-right: .5em;
                            }
                        }
                    }
                }
            }
        }

        .list_cats {
            border-left: 1px solid #FFF;
            display: flex;
            justify-content: space-evenly;
            padding-top: 5em;

            .item_list {
                color: #FFF;
                perspective: 1000px;

                img {
                    transform: rotateY(0deg);
                    transition: transform 0.5s ease;
                    position: relative;


                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #FF87F3;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        transform: rotateY(-30deg);

                    }
                }



                .content_item {
                    display: flex;
                    padding-top: 1em;

                    .info_cat {
                        padding-left: 2em;

                        p {
                            padding-top: 1em;
                            padding-bottom: 1em;
                            font-size: 12px;
                        }

                        span {
                            svg {
                                margin-right: .5em;
                            }
                        }
                    }
                }
            }
        }

        .list_content {
            display: flex;
            justify-content: center;
            border-left: 1px solid #FFF;

            button {
                margin: 5em 0 5em 0;
                position: relative;
                padding: 1em;
                border-radius: 0 50px 0 50px;
                font-size: 20px;
                padding-inline: 2em;
                padding-right: 1em;

                svg {
                    margin-left: .5em;
                    margin-right: .2em;

                    path {
                        fill: #FF87F3;
                    }
                }
            }
        }

    }

}