.details {

    background-color: #461A7E;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    .line_detail {
        position: absolute;
        left: 0;
        top: -300px;
        z-index: 5;
    }

    .detail_banner {
        bottom: 99%;
        z-index: 2;
        position: absolute;
    }

    .details_content {
        background: linear-gradient(90deg, rgba(60, 22, 108, 0.6587009803921569) 0%, rgba(45, 13, 85, 1) 63%);
        margin-top: 5em;
        width: 100%;
        z-index: 5;
        backdrop-filter: blur(10px);
        display: flex;
        border-left: 1px solid #FFF;
        border-bottom: 1px solid #FFF;

        &::before {
            content: "";
            height: 433px;
            width: 1px;
            background-color: white;
            position: absolute;
            bottom: 100%;
            left: -1px;
        }


        .apoie_content {
            max-width: 1400px;
            width: 100%;
            padding-top: 10%;

            h1,
            p {
                padding-top: 1em;
                color: #FFF;
                font-weight: 100;

                span {
                    font-weight: bold;
                }
            }


            .cat_area {

                margin-left: -.5em;
                height: 100px;
                width: 250px;
                border-radius: 50px;
                background: linear-gradient(to right, #53248F 10%, #FF87F3 100%);
                margin-right: .2em;
                position: relative;
                display: flex;
                justify-content: center;

                img {
                    padding-left: 3em;
                    position: absolute;
                    bottom: -52px;
                }
            }


            .btn_details {
                padding-top: 3em;
                padding-bottom: 20em;

                button {

                    position: inherit;
                    font-size: 20px;
                    padding-inline: 3.5em;
                    padding-block: 1.5em;
                    border-radius: 0 40px 0 40px;
                }
            }
        }
    }
}