.estrutura {
    display: flex;
    padding-top: 10em;
    margin: 0 auto;
    position: relative;

    .estrutura_content {
        display: flex;
        padding-top: 10em;
        margin: 0 auto;
        max-width: 1920px;

        img {
            width: auto;
            height: auto;
        }

        .first_cat {
            margin: 10em 0 0 0;
            padding: 5em 3em;
            position: relative;

            &::before {
                content: '';
                width: 200%;
                height: 1px;
                background-color: rgba($color: #000000, $alpha: .2);
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
            }
        }

        .mid_content {
            position: relative;

            h2 {
                padding: 2em 0 5em 3em;
                font-family: 'SFRepublic', sans-serif;
                font-weight: bold;
            }

            &::before {
                content: '';
                width: 1px;
                height: calc(80% + 18px);
                background-color: rgba($color: #000000, $alpha: .2);
                position: absolute;
                bottom: 2.3em;
                right: 100%;
                z-index: -1;
            }

            .img_middle {
                padding: 5em 3em;
                padding-top: 0;
                border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
                border-right: 1px solid rgba($color: #000000, $alpha: .2);
                position: relative;

                &::after {
                    content: '';
                    width: 250%;
                    height: 1px;
                    background-color: rgba($color: #000000, $alpha: .2);
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: -1;
                }


            }

        }

        .right_content {
            padding-block: 5em;
            margin-left: 3em;
            z-index: 2;

            div {
                &:first-child {
                    margin-bottom: 3em;
                }
            }
        }

    }

    .pink_line {
        position: absolute;
        left: 0;
    }
}