.navbar_content {
    display: flex;
    justify-content: center;
    z-index: 5;
    position: absolute;
    width: 95vw;
    font-family: "Roboto", sans-serif;

    .logo_navbar {
        position: absolute;
        left: 3%;
        top: 20%;
    }

    .navbar_scroll {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 90%);
        border-image-slice: 1;
        padding-top: 1em;


        .btn_adotar {
            background: transparent;
            color: #FFF;
            padding: 2em;
            border: 1px solid #FFF;
            padding-inline: 8em;
            cursor: pointer;
            font-size: 12px;
            display: flex;

            svg {
                margin-left: 1em;

                path {
                    fill: #FF87F3;
                }
            }

        }

        .item_navbar {
            list-style: none;
            padding-left: 2em;

            .link_navbar {
                padding: 1.5em 1em;
                text-decoration: none;
                color: #fff;
                border-radius: 10px 10px 0 0;

                &:hover {
                    background-color: #53248F;
                }

                .active-dropdown {
                    background-color: #53248F;
                }
            }

            .dropdown_menu,
            .drop_menu {
                display: none;
            }

            .dropdown_menu.active,
            .drop_menu.active {
                display: block;
            }


            .switch {
                display: flex;
                position: relative;
                width: 100px;
                height: 34px;
                cursor: pointer;
                background: none;
                transition: .4s;
                border: 1px solid #FFF;
                border-radius: 36px;
                align-items: center;
                justify-content: space-between;

                .sun,
                .moon {
                    z-index: 1;
                }

                .sun {
                    padding-left: 1em;

                    svg {
                        path {
                            fill: white;
                        }
                    }
                }

                .moon {
                    margin-left: 5px;


                    svg {
                        path {
                            opacity: 1;
                            fill: white;
                        }
                    }
                }

                .active {

                    svg {
                        opacity: 1;
                        filter: invert(1);
                    }

                }

            }

            .drop_menu {
                display: none;
                position: absolute;
                left: calc(118px + 3em);
                top: 75%;
                width: 200px;
                padding: 0;

                li {
                    display: flex;
                    background-color: #271B35;
                    justify-content: center;
                    padding-block: 1em;
                    align-items: center;

                    &:last-child {

                        border-radius: 0 0 50px 0;
                    }

                    &:hover {
                        background-color: #53248F;
                    }

                    a {
                        color: #FFF;
                        text-decoration: none;

                    }
                }
            }

            input:checked+.slider {
                transform: translateX(40px);

            }

            input:checked~.moon {
                svg {
                    path {
                        fill: #000;
                    }
                }

            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                content: "";
                height: 26px;
                width: 50px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 36px;
            }

        }

        .dropdown_toggle {
            padding: 10px 20px;
            background: transparent;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 10px 10px 0 0;


            &:hover {
                background-color: #53249F;
            }
        }

        .dropdown_menu {
            position: absolute;
            top: 100%;
            list-style: none;
            display: none;
            width: 166px;
            padding: 0;
            margin: 0;
            background-color: #271B35;
            border-radius: 0 0 0 50px;


            .menu_toogle {
                border-radius: 0 0 0 50px;
            }

            .dropdown_item {

                padding-inline: 5.2em;
                display: flex;
                justify-content: center;
                padding-block: 1em;
                align-items: center;

                &:hover {
                    background-color: #53248F;
                }


                a {
                    color: #FFF;
                    text-decoration: none;
                    white-space: nowrap;
                }


            }
        }



    }
}

body.dark-mode {

    .navbar_content.scrolled {

        background-color: #431e74;

    }
}

.navbar_content.scrolled {
    position: fixed;
    background-color: #53248F;
    width: 100%;

    .logo_navbar {
        display: none;
    }

    .navbar_scroll {
        display: block;
        padding: 1em;
    }

    .navbar {
        border: none;


        .btn_adotar {
            margin-right: 3em;
        }
    }
}

.show {
    background-color: #53248F;
}

.navbar_mobile {
    display: none;

}

@media (max-width: 767px) {
    .navbar_content {
        display: none;
    }

    .navbar_mobile {

        display: block;
        width: 100%;
        position: fixed;
        padding: 0;

        .container-fluid {
            background-color: #431e74;
        }

        .offcanvas-body {
            width: 100%;

            li {
                list-style: none;
                padding: 1em;

                a {
                    text-decoration: none;
                    color: #FFF;
                    font-family: 'SFRepublic';
                    font-size: 20px;


                }

                button {
                    display: none;
                }
            }

            .switch {
                display: flex;
                position: relative;
                width: 100px;
                height: 34px;
                cursor: pointer;
                background-color: #000;
                transition: .4s;
                border: 1px solid #FFF;
                border-radius: 36px;
                align-items: center;
                justify-content: space-between;

                .sun,
                .moon {
                    z-index: 1;
                }

                .sun {
                    padding-left: 1em;
                }


            }

            input:checked+.slider {
                transform: translateX(40px);
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                content: "";
                height: 26px;
                width: 50px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 36px;
            }
        }


    }
}

@media (max-width: 414px) {
    /* Estilos para telefones médios e grandes */
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets */
}