* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

.container {
    width: 100%;
    max-width: 1700px;
    padding: 0;
    display: flex;
    margin: 0 auto;
}