@import 'header.scss';
@import 'hero.scss';
@import 'reset.scss';
@import 'details.scss';
@import 'modal.scss';
@import 'cookies.scss';
@import 'adocao.scss';
@import 'history.scss';
@import 'faq.scss';
@import 'depoimentos.scss';
@import 'clientes.scss';
@import 'footerHome.scss';
@import 'heroSobre.scss';
@import 'estrutura.scss';
@import 'missao.scss';
@import 'footerGeral.scss';
@import 'heroListagem.scss';
@import 'listagemGatos.scss';
@import 'heroDetalhes';
@import 'heroBlog';
@import 'sliderBlog';
@import 'blogContent';

.btn_app {
    position: relative;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 1em 5em;
    border-radius: 0 150px 0 150px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: .5s;
    z-index: 1;
    cursor: pointer;
}

.btn_app:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



.cat_area {
    display: flex;


    .cat_img {
        margin-left: -.5em;
        height: 100px;
        width: 250px;
        border-radius: 50px;
        background: linear-gradient(to right, #FF87F3 0%, #53248F 100%);
        margin-right: .2em;
        position: relative;



        img {
            position: absolute;
            bottom: -1px;
            right: 0;
        }
    }
}


.cat_area2 {

    margin-left: -.5em;
    height: 100px;
    width: 250px;
    border-radius: 50px;
    background: linear-gradient(to right, #53248F 10%, #FF87F3 100%);
    margin-right: .2em;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        padding-left: 3em;
        position: absolute;
        bottom: -52px;
    }
}

* {
    font-family: "Roboto";
}

@font-face {
    font-family: 'SFRepublic';
    src: url('../assets/fonts/newRepublic.ttf');
    font-weight: normal;
    font-style: normal;
}

.history_sobre {
    margin-top: 30em;

}

.hero_text_component {
    position: absolute;
    color: #FFF;
    top: 30%;
    z-index: 2;
    left: calc(5% + 180px);
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        margin-top: 1.5em;
    }

    &::after {
        content: '';
        width: 180px;
        height: 1px;
        background-color: #FFF;
        position: absolute;
        left: 150%;
        top: 10px;
    }

    &::before {
        content: '';
        width: 180px;
        height: 1px;
        background-color: #FFF;
        position: absolute;
        right: 150%;
        top: 10px;
    }
}

.toogle_title {
    background-color: #EAEAEA;
    display: flex;
    width: 250px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;

    p {
        margin-top: 3px;
        font-size: 12px;
        font-weight: bold;
    }

    .toogle_left {
        background-color: #53248F;
        border-radius: 25px;
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        margin-left: 5px;

        p {
            color: #FFF;
        }
    }

    .toogle_right {
        border-radius: 25px;
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
    }
}