.adocao {
    background-color: hsl(266, 66%, 30%);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .list_detail {
        position: absolute;
        bottom: -10px;
        width: 100%;
        left: 0;

    }

    .navbar_adocao {
        position: relative;
        display: flex;
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100vw;

        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

            li {

                color: #FFF;
                white-space: nowrap;

                button {
                    padding: 2em;
                    padding-inline: 7em;
                    background: none;
                    color: #FFF;
                    border: none;
                    font-family: 'SFRepublic';
                    border-bottom: 5px solid transparent;
                }

                .selected {
                    background-color: #330D64;
                    font-weight: bold;
                    border: 1px solid #FF87F3;
                    border-bottom: 5px solid #FF87F3;
                }
            }
        }
    }

    .adocao_content {
        display: block;

        .list_cats {
            border-left: 1px solid #FFF;
            display: flex;
            justify-content: space-evenly;
            padding-top: 10em;
            padding-left: 5em;

            .item_list {
                color: #FFF;
                perspective: 1000px;

                .img_list {
                    transform: rotateY(0deg);
                    transition: transform 0.5s ease;
                    position: relative;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    img {
                        object-fit: contain;
                    }

                    p {
                        background-color: #FF87F3;
                        padding: .5em;
                        border-radius: 10px;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba($color: #FF3DEC, $alpha: .9);
                        opacity: 0;
                        border-radius: 20px;
                        transition: .5s;
                    }

                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -5%;
                        right: -5%;
                        background-color: rgba($color: #58248A, $alpha: 1);
                        opacity: 0;
                        border-radius: 20px;
                        z-index: -1;
                        transition: .5s;
                    }

                    &:hover {
                        transform: rotateY(-30deg);

                        &::after {
                            opacity: 1;
                        }

                        &::before {
                            opacity: 1;
                        }

                        .hover_content {
                            opacity: 1;
                        }

                        .content_item {
                            opacity: 0;
                        }

                        ~.content_item {
                            opacity: 0;
                        }

                        .gender {
                            opacity: 1;
                        }

                    }

                    .hover_content {
                        position: absolute;
                        z-index: 2;
                        opacity: 0;
                        transition: .5s;

                    }

                    .gender {
                        position: absolute;
                        bottom: 0;
                        z-index: 2;
                        padding: 1.5em 1em;
                        border-radius: 20px;
                        transform: translateY(50%);
                        background-color: #330A66;
                        opacity: 0;
                        transition: .5s;
                    }
                }



                .content_item {
                    display: flex;
                    padding-top: 1em;
                    transition: 0.5s;

                    .info_cat {
                        padding-left: 2em;

                        p {
                            padding-top: 1em;
                            padding-bottom: 1em;
                            font-size: 12px;
                        }

                        span {
                            svg {
                                margin-right: .5em;
                            }
                        }
                    }
                }
            }
        }

        .list_content {
            display: flex;
            justify-content: center;
            border-left: 1px solid #FFF;

            button {
                margin: 5em 0 5em 0;
                position: relative;
                padding: 1em;
                border-radius: 0 50px 0 50px;
                font-size: 20px;
                padding-inline: 2em;
                padding-right: 1em;
                z-index: 1;
                margin-bottom: 10em;

                svg {
                    margin-left: .5em;
                    margin-right: .2em;

                    path {
                        fill: #FF87F3;
                    }
                }
            }
        }

    }

}

body.dark-mode {

    .adocao {
        background-color: #2D0D55;

        p,
        h1,
        a,
        span,
        button {
            color: #CCCCCC;
        }
    }
}

@media (max-width: 1580px) {
    .list_cats {
        .item_list:last-child {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .adocao {
        margin-bottom: 2em;

        .list_detail {
            display: none;
        }

        .adocao_content {
            .navbar_adocao {
                padding: 0;
                border-right: 0;

                li {
                    button {
                        font-size: 10px;
                        padding: 15px;
                    }
                }
            }

            .list_cats {
                display: block;
                padding: 0;
                border: none;

                .item_list {
                    margin-top: 2em;

                    .img_list {

                        img {
                            width: 90vw;
                            height: 350px;
                            border-radius: 20px;
                            object-fit: cover;
                        }

                        &:hover {
                            transform: rotateY(0);

                            &::after {
                                opacity: 0;
                            }

                            &::before {
                                opacity: 0;
                            }

                            .hover_content {
                                opacity: 0;
                            }

                            .content_item {
                                opacity: 1;
                            }

                            ~.content_item {
                                opacity: 1;
                            }

                            .gender {
                                opacity: 0;
                            }

                        }
                    }

                    .content_item {
                        margin-left: 5vw;


                        svg {
                            width: 40px;
                            height: auto;
                        }

                        .info_cat {

                            h1,
                            p,
                            span {

                                padding: 0;
                            }

                            h1 {
                                font-size: 20px;
                            }

                            p {
                                font-size: 10px;
                                margin: 0;
                            }

                            span {
                                font-size: 10px;
                                padding: 0;
                                margin: 0;
                            }

                            svg {
                                width: inherit;
                                height: auto;
                            }

                        }
                    }
                }
            }

            .list_content {
                border: none;

                button {
                    margin: 5em 0;
                }
            }
        }
    }
}