.depoimentos {
    display: flex;
    padding-bottom: 20em;
    z-index: 3;
    position: relative;

    .review_page {
        position: relative;
        margin-top: 10%;
        display: flex;
        padding-left: 5em;

        .review_details {
            position: absolute;
            left: 10%;
            bottom: -40%;
        }

        .review_title {
            padding-left: 30%;
            padding-top: 3em;
            width: 100%;

            h3 {
                font-weight: 300;
                color: #202020;
                font-size: 35px;
                font-family: 'SFRepublic';
            }

            p {
                width: 60%;
                font-weight: 500;
            }
        }
    }


    .swiper_depoimentos {
        width: 50%;
        position: relative;
        padding-top: 10em;
        padding-left: 3.5%;
        margin-right: 0;

        .swiper-slide {
            position: relative;
            padding: 50px 0;
            opacity: 0.5;
            display: flex;
            justify-content: center;

            .card {
                width: 300px;
                border-radius: 10px;
                object-fit: contain;

                .card_content {
                    text-align: center;
                    padding: 20px;
                    font-family: 'Roboto';
                    position: relative;
                    box-shadow: 0px 0px 40px 5px rgba(#EAD9FF, 0.3);

                    h2 {
                        padding-top: 2em;
                    }

                    h3,
                    p {
                        color: #1A1442;
                    }

                    .review_circle {
                        position: absolute;
                        border-radius: 50%;
                        height: 120px;
                        width: 120px;
                        background: linear-gradient(to bottom, rgba(83, 36, 143, 0.3), rgba(153, 85, 83, 0));
                        left: 30%;
                        top: -60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 80px;
                            width: 80px;
                        }
                    }

                    .card_title {
                        font-family: 'Roboto';
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .card_subtitle {
                        font-family: 'Roboto';
                        font-size: 15px;
                        font-weight: 100;
                        padding-bottom: 1em;
                        color: #000;
                    }

                    p {
                        padding-bottom: 1em;
                    }
                }
            }

            &:last-child {}
        }

        .swiper-slide-active {
            opacity: 1;
        }

        .swiper-slide-next+.swiper-slide {
            margin-left: 5em;
        }

        .swiper-slide-next {
            opacity: 1;
        }

        .swiper-button-next {
            right: calc(15% - 20px);
            top: 60%;

            &::after {
                content: '';
                background-image: url('../assets/icons/arrowDepoimentos.svg');
                background-position: center;
                height: 30px;
                width: 30px;
            }
        }

        .swiper-button-prev {
            left: 5%;
            top: 60%;

            &::after {
                content: '';
                background-image: url('../assets/icons/prevDepoimentos.svg');
                background-position: center;
                height: 30px;
                width: 30px;
            }
        }
    }
}


@media(max-width: 1890px) {
    .depoimentos {

        .swiper_depoimentos {
            padding-left: 2em;

            .swiper-button-next {
                right: 0%;
            }
        }
    }
}

@media(max-width: 1666px) {
    .depoimentos {
        .swiper_depoimentos {

            .swiper-button-next {
                right: 0;
            }
        }
    }
}

body.dark-mode {
    .depoimentos {
        background-color: #333;
        color: #FFF;

        h3 {
            color: #FFF !important;
        }
    }
}

@media(max-width: 990px) {
    .depoimentos {
        .review_page {
            padding-left: 2em;
            width: 50%;

            .container {
                margin: 0;
            }

            .review_title {
                padding-left: 0;
            }
        }
    }
}


@media (max-width: 767px) {
    .depoimentos {
        display: block;
        padding-bottom: 0;
        margin-bottom: 2em;

        .review_page {
            padding-left: 0;
            width: 100%;


            .review_title {
                padding-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                p {
                    width: 80%;
                }
            }

            .review_details {
                display: none;
            }
        }

        .swiper_depoimentos {
            width: 100%;
            padding: 0;
            padding-top: 1em;

            .swiper-slide {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .swiper-button-next {
                right: 0;
                top: 50%;
            }

            .swiper-button-prev {
                top: 50%;
            }
        }


    }
}