.details {
    background-color: #461A7E;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;

    .detail_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: absolute;
        bottom: calc(100% - 1px);
        width: 100%;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .lines_adocao {
        position: absolute;
        right: 0;
    }

    .adocao_detail {
        left: 15%;
        bottom: -20%;
        position: absolute;
    }

    .details_content {
        margin-top: 5em;
        width: 100%;
        display: flex;
        border-left: 1px solid #FFF;
        position: relative;
        z-index: 3;
        padding: 0;


        &::before {
            content: "";
            height: 427px;
            width: 1px;
            background-color: white;
            position: absolute;
            bottom: 100%;
            left: -1px;
        }

        .line_detail {
            position: absolute;
            left: -150px;
            top: -155px;
        }

        .details_blur {
            margin-top: 5em;
            width: 100%;
            display: flex;
            position: relative;
            z-index: 3;
            background: linear-gradient(90deg, rgba(60, 22, 108, 0.6587009803921569) 0%, rgba(45, 13, 85, 1) 63%);
            backdrop-filter: blur(10px);
            overflow: hidden;
        }

        .ong_bg {
            position: absolute;
            top: 25%;
            left: 50%;
        }

        .apoie_content {
            width: 100%;
            padding-top: 10%;
            padding-left: 0;
            margin-left: 10%;

            h1,
            p {
                padding-top: 1em;
                color: #FFF;
                font-weight: 100;

                span {
                    font-weight: bold;
                }
            }

            h1 {
                font-family: 'SFRepublic';
            }

            .btn_details {
                padding-top: 3em;

                button {
                    white-space: nowrap;
                    position: inherit;
                    font-size: 20px;
                    padding-inline: 3.5em;
                    padding-block: 1.5em;
                    border-radius: 0 60px 0 60px;
                }
            }
        }

        .apoie_cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card1 {
                width: 300px;
                height: 274px;
                background-color: #461A7E;
                position: relative;
                border-radius: 0 0 0 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                p {
                    padding-top: 1em;
                    color: #FFF;

                    span {
                        color: #FF87F3;
                    }
                }


                .dt1 {
                    position: absolute;
                    right: 99.5%;
                    top: 0;
                }

                .dt2 {
                    position: absolute;
                    left: 99.5%;
                    top: 0;
                    transform: rotate(270deg);
                }
            }

            .card2 {
                width: 300px;
                height: 274px;
                background-color: #461A7E;
                position: relative;
                border-radius: 90px 0 0 0;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    color: #FFF;
                    padding-top: 1em;

                    span {
                        color: #FF87F3;
                    }
                }



                .dt2 {
                    position: absolute;
                    left: 99.5%;
                    bottom: 0;
                    transform: rotate(180deg);
                }
            }
        }

        .info_apoie {
            width: 500px;
            align-items: center;

            .cards_info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #FFF;
                height: 100%;
                text-align: center;
                width: 100%;

            }

            .info_card {
                width: 100%;
                padding: 61px;

                &:first-child {
                    border-bottom: 1px solid #461A7E;
                }

                &:last-child {
                    border-top: 1px solid #461A7E;
                }

                p {
                    position: relative;
                    white-space: nowrap;
                }

                span {
                    color: #FF87F3;
                }
            }
        }
    }

    .foot_info {
        position: relative;
        display: flex;
        border-bottom: 1px solid #FFF;
        border-left: 1px solid #FFF;
        align-items: center;
        height: 250px;
        justify-content: center;

        h1 {
            color: #FFF;
            padding-right: 5em;
            font-family: 'SFRepublic';
        }

        .foot_icon {
            position: absolute;
            right: 20%;
            top: 30%;
        }
    }
}

body.dark-mode {

    .details {

        background-color: #2D0D55;

        .details_blur {
            background: linear-gradient(90deg, rgba(36, 13, 65, 0.659) 0%, rgb(29, 8, 54) 63%);
        }

        .detail_banner {
            svg {
                path {
                    fill: #2D0D55;
                }
            }
        }

        .details_content {
            .apoie_cards {


                .ong_bg {
                    display: none;
                }

                .card1,
                .card2 {
                    background-color: #2D0D55;

                    .dt1,
                    .dt2 {
                        svg {
                            path {
                                fill: #2D0D55;
                            }
                        }
                    }
                }
            }

            .info_apoie {
                .info_card {
                    &:first-child {
                        border-bottom: 1px solid #2D0D55;
                    }

                    &:last-child {
                        border-top: 1px solid #2D0D55;
                    }
                }
            }
        }
    }

}

.apoie_cards {
    .card1 {

        display: none;
    }
}

@media (max-width: 1050px) {
    .details {
        .details_content {

            .apoie_content {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 960px) {
    .details {
        .details_content {
            .line_detail {
                left: -400px;
            }
        }
    }

}

@media (max-width: 767px) {
    .details {
        display: block;
        z-index: 3;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;

        .detail_banner {
            display: none;
        }


        .details_content {
            border: none;
            margin: 0;
            padding: 0;

            .details_blur {
                width: 100%;
                padding: 0;
                display: block;

                .info_apoie {
                    display: block;
                }
            }

            .ong_bg {
                display: none;
            }

            .line_detail {
                display: none;
            }

            .apoie_cards {
                flex-direction: row;

                .card1,
                .card2 {

                    border-radius: 0;
                    background: none;
                }

                .dt1,
                .dt2 {
                    display: none;
                }
            }

            .info_apoie {

                .cards_info {
                    display: block;
                    align-items: start;

                    .info_card {
                        width: 200px;
                        padding: 0;
                        border: none;
                    }

                    .card_mobile {
                        display: flex;
                    }

                    .last_card_mobile {
                        display: flex;
                        align-items: center;
                        margin-left: 6em;
                    }

                }
            }

            .apoie_content {
                margin-left: 2em;
                margin-right: 2em;

                .btn_details {
                    button {
                        font-size: 15px;
                        margin-bottom: 2em;
                    }
                }
            }
        }

        .adocao_detail {
            display: none;
        }

        .foot_info {
            border: none;

            h1 {
                font-size: 30px;
                padding-right: 0;
            }

            .cat_area {
                display: none;

            }
        }
    }


}