.faq_content {
    position: relative;
    justify-content: center;
    background-color: #461A7E;
    width: 95%;
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;

    .faq_right {
        position: absolute;
        right: -9px;
        top: 0;
    }

    .faq_top {
        position: absolute;
        top: -9px;
        z-index: 2;
    }

    .lines_faq {
        position: absolute;
        top: 0;
        right: 0;
    }

    .title_content {
        position: relative;
        padding-top: 10em;
        display: flex;
        align-items: center;
        padding-bottom: 3em;

        svg {
            margin-right: 2em;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            font-size: 35px;
            font-weight: 300;
            align-items: center;
            color: #FFF;
            font-family: 'SFRepublic';
        }
    }

    .body_faq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        max-width: 1400px;


        .accordion_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20em;

            .accordion {
                width: 100%;

                &:first-child {
                    position: relative;

                    &::before {
                        content: '';
                        width: 600px;
                        height: 1px;
                        position: absolute;
                        top: -1px;
                        right: 100%;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }


                &:nth-child(odd) {
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                }

                &:nth-child(even) {
                    border-left: 1px solid rgba(255, 255, 255, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }

                &:last-child {
                    border: none;
                    position: relative;

                    &::after {
                        content: '';
                        width: 500px;
                        height: 1px;
                        position: absolute;
                        top: -1px;
                        left: 100%;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }

                .accordion-button {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    color: #FFF;
                    width: 100%;
                    padding: 1.5em;
                    align-items: center;

                    p {
                        margin: 0;
                        margin-left: 3em;
                    }

                    &::after {
                        background-color: #53248F;
                        background-image: url('../assets/icons/arrowAccordion.svg');
                        background-position: center;
                        color: white;
                        border-radius: 5px;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: transform 0.5s ease;
                    }
                }

                .accordion-button:not(.collapsed) {
                    color: #FFF;
                    background-color: #53248F;

                    &::after {

                        border: 1px solid white;
                    }

                }


                .accordion-item {
                    box-shadow: none;
                    border: none;
                    width: 100%;
                    background: transparent;

                    h2 {
                        font-family: 'Roboto';

                    }

                    .accordion-body {
                        background: #53248F;
                        color: #FFF;


                    }

                    .accordion_text {
                        display: flex;

                        img {
                            width: 100px;
                            height: 100px;
                            position: absolute;
                        }
                    }

                    .accordion_image {
                        position: absolute;
                        opacity: 0;
                        width: 100px;
                        height: 100px;
                        left: 0;
                        transform: translateX(-50%) translateY(-40%);
                        bottom: 0;
                        z-index: 4;
                    }

                    .accordion-collapse.show .accordion_image {
                        opacity: 1;
                        transition: 0.5s ease;

                    }

                    .accordion-collapse {
                        position: relative;

                        p {
                            margin: 0;
                            margin-left: 3em;
                            margin-bottom: 1.5em;
                        }
                    }

                }
            }
        }

    }

    .faq_detail {
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .faq_paw {
        position: absolute;
        left: 0;
        top: -20%;
    }

    .faq_paw_bottom {
        position: absolute;
        right: 0;
        bottom: -5%;
        transform: rotate(180deg);
    }
}


body.dark-mode {

    .faq_content {
        background-color: #2D0D55;
    }
}

@media (max-width: 767px) {
    .faq_content {
        border-radius: 0;
        width: 100%;


        .faq_top {
            display: none;
        }

        .faq_right {
            display: none;
        }

        .body_faq {
            padding: .5em;

            .title_content {
                padding: 0;
                margin: 2em 0;

                h1 {
                    text-align: start;
                }
            }

            .accordion-body {
                img {
                    display: none;
                }
            }
        }

        .lines_faq {
            display: none;
        }
    }
}