.blog {
    overflow: hidden;
    width: 100%;

    .hero_blog {
        position: relative;

        .text_hero {
            display: flex;
            top: 30%;
            left: 0;
            align-items: center;
            margin-left: 15%;
            position: absolute;
            z-index: 2;

            h2 {
                margin-left: 100%;
                margin-right: 40%;
                color: #FFF;
                font-size: 60px;
                font-family: 'SFRepublic';
                font-weight: bold;
                margin-bottom: 70px;
                white-space: nowrap;
            }

            .cat_area {
                margin-bottom: 70px;
            }
        }

        .hero_image {
            img {
                object-fit: cover;
                width: 100%;
            }
        }

    }
}

@media (max-width: 1680px) {
    .blog {
        .hero_blog {

            .hero_text_component {
                display: none;
            }
        }

        .text_hero {
            .cat_area {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .blog {
        width: 100vw;

        .hero_blog {
            margin-top: 4em;

            .hero_text_component {
                display: none;
            }

            .text_hero {
                h2 {
                    font-size: 30px;

                }

                .cat_area {
                    display: none;
                }

            }
        }
    }
}